<% if logged_in? %>
  <script id="bootstrap-current-user" type="text/javascript">
  	window.currentUser = <%= render("api/users/user.json.jbuilder",
  		user: current_user).html_safe %>
  </script>
<% end %>

<script type='text/javascript'>
  window.images={
    logo: "<%= asset_path('brokenforklogo.png') %>",
    everything: "<%= asset_path('everything-png.jpg') %>"
  }
</script>

<main id="root">
  <h1>You are a FAILURE</h1>
</main>
