/*
 * This is a manifest file that'll be compiled into application.css, which will include all the files
 * listed below.
 *
 * Any CSS and SCSS file within this directory, lib/assets/stylesheets, or any plugin's
 * vendor/assets/stylesheets directory can be referenced here using a relative path.
 *
 * You're free to add application-wide styles to this file and they'll appear at the bottom of the
 * compiled file so the styles you add here take precedence over styles defined in any other CSS/SCSS
 * files in this directory. Styles in this file should be added after the last require_* statement.
 * It is generally better to create a new file per style scope.
 *
 *= require_tree .
 *= require_self
 */
 .modal-background {
   position: fixed;
   top: 0;
   bottom: 0;
   right: 0;
   left: 0;
   background: rgba(0, 0, 0, 0.7);
   z-index: 10;
 }

 .modal-child {
   position: absolute;
   top: 50%;
   left: 50%;
   transform: translate(-50%, -50%);
 }

.nav {
  display: flex;
  justify-content: space-between;
  font-family: sans-serif;
  /* border: 1px solid black; */
  align-items: center;
}

.login-buttons {
  display: block;
  margin: 5px;
  padding-right: 5px;
  text-align: right;

}

.sign-up {
  background-color: #237b98;
  color: white;
  border-radius: 5px;
  height: 40px;
  width: 80px;
  font-size: 15px;
}

.sign-in {
  height: 40px;
  width: 80px;
  font-size: 15px;
  border: none;
}


.main-picture {
  display: block;
  height: 420px;
  width: 100%;
  z-index: 1;
  /* opacity: 0.8
    filter: alpha(opacity=50); */
}

.pic-container p {
  position: absolute;
  top: 30%;
  left: 50%;
  transform: translate(-50%, -50%);
  font-family: sans-serif;
  font-size: 3rem;
}

.pic-container {
  position: relative;
  text-align: center;
  color: white;
  z-index: 1;
}
