.show-top-background {
  height: 200px;
  width: 100%;
  background-color: #2d333f;
  display: flex;
  justify-content: center;
  align-items: center;
}

.rest-image {
  // height: inherit;
}

.rest-show-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 45%;
  margin-right: 25%;
  margin-left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  color: #2d333f;
  border: 1px solid black;
}

.rest-page-title {
  font-weight: bold;
  font-size: 50px;
  color: #2d333f;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-top: 5%;
  padding-bottom: 5%;
}

.review-stars-cont {
  display: flex
}

.review-stars-rating {
  line-height: 3.4;
}
