h1 {
  font-size: 48px;
  font-weight: 700;
}

hr {
  margin-top: 5px;
  height: 1px;
  padding: 0;
  margin: 0 auto;
  width: 90%;
  background-color: rgba(0, 0, 0, 0.12);
  border: 0;
}

.link-nav {
  height: 40px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 12px;
  font-family: Helvetica;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
  // border-top-color: rgba(0, 0, 0, 0.08);
}

.link-nav-child {
  margin-right: -30px;
}

.tables-match {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
  border: 1px solid purple;
}

.tables-match span {
  font-family: Helvetica;
  font-size: 14.4px;
  font-weight: 600;
  color: rgb(45, 51, 63);
  padding-left: 5px;
}

.right-filter {
  width: 200px;
  font-family: Helvetica;
  align-items: flex-start;
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.index-nav {
  height: 80px;
  // border: 1px solid blue;
  background-color: grey;
  background-image: url('https://us.123rf.com/450wm/masyaka/masyaka1705/masyaka170500007/77905103-black-wooden-background-horizontal-textured-oak-planks.jpg?ver=6');
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-container {
  width: 910px;
  height: 800px;
  display: flex;
  justify-content: space-around;
  // align-items: center;
  border: 1px solid red;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 15%;
}

.search-container {
  width: 670px;
  // height: 800px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid gray;
}

.filter-container {
  width: 190px;
  height: 100%;
  border: 1px solid black;
}

.rest-container {
  height: 170px;
  width: 640px;
  display: flex;
  padding: 14px;
}

.rest-name {
  color: #247f9e;
  font-size: 18px;
}

.rest-image {
  height: 170px;
  width: 170px;
  background-color: orange;
  margin-right: 10px;
  border-radius: 4px;
}
