.link-nav {
  height: 40px;
  display: flex;
  align-items: baseline;
  justify-content: flex-start;
  margin-left: 20px;
  font-size: 12px;
  font-family: Helvetica;
  border-top: 1px solid rgba(0, 0, 0, 0.08);
}

.link-nav-child {
  margin-right: 1%;
  line-height: 2.5;
}

.tables-match {
  width: 100%;
  height: 45px;
  display: flex;
  justify-content: space-between;
}

.tables-match span {
  font-family: Helvetica;
  font-size: 14.4px;
  font-weight: 600;
  color: rgb(45, 51, 63);
  padding-left: 5%;
  width: 300px;
}

.right-filter {
  width: 200px;
  font-family: Helvetica;
  align-items: flex-start;
  max-width: 300px;
  background-color: rgb(255, 255, 255);
  border: 2px solid rgba(0, 0, 0, 0.12);
  border-radius: 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 13px;
  font-weight: 600;
}

.index-nav {
  height: 80px;
  // border: 1px solid blue;
  background-color: grey;
  background-image: url('https://us.123rf.com/450wm/masyaka/masyaka1705/masyaka170500007/77905103-black-wooden-background-horizontal-textured-oak-planks.jpg?ver=6');
  display: flex;
  justify-content: center;
  align-items: center;
}

.parent-container {
  width: 910px;
  display: flex;
  justify-content: space-around;
  margin-top: 20px;
  margin-right: 20%;
  margin-left: 15%;
  font-family: helvetica;
}

// FILTER SECTION

.map-cont {
  font-family: helvetica;
  cursor: pointer;
  width: 100%;
  height: 64px;
  border-radius: 4px;
  margin-top: 10px;
  margin-bottom: 10px;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/first-map.png');
  background-repeat: no-repeat;
  color: white;
  display: flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity: 0.8;
}

.map-text {
  line-height: 2.5;
  font-size: 16px;
  border-radius: 4px;
  height: 40px;
  width: 90px;
  background-color: #247f9e;  
}

.filter-hr {
  height: 1px;
  padding: 0;
  margin: 0 auto;
  width: 100%;
  background-color: rgba(197, 194, 194, 0.925);
  border: 0;
  margin-bottom: 10px;
}

.price-filter {
  margin-top: 10px;
  width: 100%;
}

.price-text {
  font-weight: 600;
  margin-bottom: 10px;
}

.price-ranges {
  display: flex;
  width: 100%;
  text-align: center;
}

.price-amount {
  cursor: pointer;
  border: 1px solid  rgba(197, 194, 194, 0.925);
  border-radius: 4px;
  width: 33.3%;
  margin: 2px;
  height: 35px;
  vertical-align: center;
  line-height: 36px;
}

.search-container {
  width: 670px;
  display: flex;
  justify-content: center;
  align-items: center;
  // padding-left: 2%;
}

.filter-container {
  width: 190px;
  height: 100%;
}

.text-filter-selection {
  display: flex;
  margin-bottom: 5%;
}

.text-filter {
  font-weight: 400;
}

.filter-box {
  height: 15px;
  width: 15px;
  border: 2px solid black;
  border-radius: 4px;
  margin-right: 2%;
}

.filter-section {
  font-weight: 600;
  margin-bottom: 10px;
  display: flex;
}

.region-pin {
  background-size: cover;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/nav-pin.png');
  height: 18px;
  width: 18px;
  margin-right: 1%;
}

.cuisine-pin {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/fork-knife.png');
  height: 18px;
  width: 18px;
  margin-right: 1%;
}

.specials-pin {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/stars.png');
  height: 18px;
  width: 18px;
  margin-right: 2%;
}

.top-rated-pin {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/trophy.png');
  height: 18px;
  width: 18px;
  margin-right: 2%;
}

.time-pin {
  // border: 1px solid black;
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/clock.png');
  height: 18px;
  width: 18px;
  margin-right: 2%;
}

.seats-pin {
  background-size: contain;
  background-repeat: no-repeat;
  background-image: url('https://s3-us-west-1.amazonaws.com/brokenfork-dev/chair.png');
  height: 18px;
  width: 18px;
  margin-right: 2%;
}

// .pin {
//   justify-content: center;
// }

//////////////////////////////////////////////////////
////////////////// RESTAURANTS ///////////////////////
//////////////////////////////////////////////////////

.rest-available {
  margin-left: 2.5%;
}

.rest-container {
  height: 200px;
  width: 640px;
  display: flex;
  padding-bottom: 2.5%;
  border-bottom: 1px solid rgba(0, 0, 0, 0.12);
  margin-bottom: 2.5%;
}

.rest-name {
  color: #247f9e;
  font-size: 18px;
  font-weight: bold;
}

.rest-image {
  height: 100%;
  width: 200px;
  background-color: orange;
  margin-right: 2%;
  border-radius: 4px;
}
