.show-top-background {
  height: 300px;
  width: 100%;
  background-color: #2d333f;
  display: flex;
  justify-content: center;
  align-items: center;
}


.show-page-rest-image {
  height: 100%;
  width: 45%;
}

.rest-show-container {
  display: flex;
  flex-direction: column;
  align-content: center;
  width: 45%;
  margin-right: 25%;
  margin-left: 15%;
  font-family: Arial, Helvetica, sans-serif;
  color: #2d333f;
}

.rest-page-title {
  font-weight: bold;
  font-size: 50px;
  color: #2d333f;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  padding-top: 5%;
  padding-bottom: 5%;
}

.rest-page-description {
  margin-bottom: 5%;
}

.review-stars-cont {
  display: flex
}

.review-stars-rating {
  line-height: 3.4;
}

.reviews-rest-show-title {
  font-weight: bold;
  font-size: 25px;
  font-family: Arial, Helvetica, sans-serif;
  border-bottom: 1px solid rgba(0,0,0,0.12);
  border-top: 1px solid rgba(0,0,0,0.12);
  margin-bottom: 2.5%;
  padding-bottom: 2.5%;
  padding-top: 5.5%;
}

.rest-info-section {
  display: flex;
  margin-bottom: 1%;
}

.next-to-pin {
  // border: 1px solid red;
  font-weight: bold;
}


.margin-bot-please {
  margin-bottom: 2.5%;
  margin-left: 5%;
  font-size: 14px;
}