.grid-container {
  margin-top: 20px;
  display: flex;
  flex-direction: row;
  font-family: helvetica;
}

.rest-splash {
  border: 1px solid rgba(0, 0, 0, 0.12);;
  width: 25%;
  margin-right: 2%;
  border-radius: 5px;
  background-image: cover;
  overflow: hidden;
}

.rest-splash-description {
  font-size: 14px;
}


.rest-splash-img {
  width: 100%;
  height: 132px;
}

.rest-splash-name {
  font-size: 18px;
  font-weight: 600px;
}

.rest-splash-info {
  background-color: white;
}

.rest-star-review {
  display: flex;
}

.num-reviews {
  font-size: 13px;
}

.rest-star-icon {
  height: 17px;
  width: 50%;
  background-image: image-url('stars-rating.png');
  background-size: contain;
  background-color: white;
  background-repeat: no-repeat;
}

.book-today {
  font-weight: 600;
  font-size: 14px;
}
